-c requirements.txt

flask
pytest
pytest-cov
requests-mock
moto
python-jose       # lower the requirements for cryptography, so python3.5 could work
httmock

 # required by moto, limit version for jsonschema
cfn-lint
aws-sam-translator
